<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="FileArchiver.Security.Enabled" value="0" />
    </appSettings>
    <system.web>
      <machineKey validationKey="962FD50CD1D15A43B0D2DAE9B7B129586CB357144A95ED8E3BAFC1F961C5F0755A6A11D023F64F377039044B92F9E32E81E419B4E02CB9F278A40F0FE3BA7CDB" decryptionKey="A78D3764E923494EC20979E8D3D0C8C822C2962952779CEE" validation="SHA1" />
      <httpRuntime requestValidationMode="2.0" maxRequestLength="4096" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="*" path="*.fa.aspx" type="MTech.FileArchiver.HttpHandler,FileArchiver" />
      </httpHandlers>
      <customErrors mode="Off" />
    </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"></modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
		      <add name="FileArchiver" verb="*" path="*.fa.aspx" type="MTech.FileArchiver.HttpHandler,FileArchiver" />
	    </handlers>
	</system.webServer>

</configuration>
